body {

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1166px;
    outline: red ;
    outline-style: dashed;
    margin-left: auto;
    margin-right: auto;
}

.header-display {
    display: flex;
}

.header-logo-link {
    margin-right: 4px;
}

.header-logo-list {
    display: flex;
    margin-right: auto;
}

.header-logo-style {
    color: #111;
font-family: 'Montserrat';
font-size: 18px;
font-style: italic;
font-weight: 700;
line-height: 20px; /* 111.111% */
letter-spacing: -0.54px;
}

.header-logo{
    color: #111;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
line-height: 20px; /* 111.111% */
letter-spacing: -0.54px;
}

.header-list-info {
    display: flex;
    gap: 24px;
}

.header-info-item {
    color: #111;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
letter-spacing: -0.28px;
}

.header-logos-div {
    margin-left: 137px;
}

.section-buy {
    padding-top: 32px;
    padding-bottom: 72px;
}

.buy-section {
    background-image: url(./img/chocolate-covered-cocoa-powder1.jpg);
    border-radius: 30px;
    width: 1136px;

    background-repeat: no-repeat;
    background-size: cover;
}

.buy-text {
    color: #FFF;
font-family: 'Montserrat';
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 121.429% */
letter-spacing: -0.84px;
width: 484px;
padding-top: 381px;
padding-left: 40px;
}

.buy-box-button {
    display: flex;
    padding-left: 40px;
padding-bottom: 40px;
    gap: 14px;
}

.buy-now-button {
    display: flex;
padding: 14px 40px;
align-items: flex-start;
gap: 14px;
border-radius: 100px;
background: #FD9222;
border: none;
color: #FFF;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.buy-how-button {
    display: flex;
width: 183px;
height: 45px;
padding: 14px 40px;
align-items: flex-start;
gap: 14px;
border-radius: 100px;
border: 1px solid #FFF;
background-color: transparent;
color: #FFF;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.buy-text-scroll {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.42px;
}

.info-section {
    background: #1E1823;
}

.info-list {
    display: flex;
    gap: 70px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.info-name {
    color: #FFF;
font-family: 'Montserrat';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 18px;
margin-top: 22px;
}

.info-text {
    color: rgba(255, 255, 255, 0.70);
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.28px;
width: 308px;
}

.information-section {
    padding-top: 128px;
    padding-bottom: 128px;
}

.information-title-box {
    width: 411px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.information-title {
    color: #111;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.information-title-color {
    color: #FD9222;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.72px;
text-transform: uppercase;
}

.information-text {
    color: #111;
text-align: center;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
width: 486px;
}

.information-list {
    display: flex;
    gap: 19px;
    justify-content: center;
}

.information-article {
    display: flex;
padding: 28px 36px 28px 28px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 36px;
border-radius: 15px;

}

.information-article-color-orange {
    background: #FD9222;
}

.information-article-color-white {
    border: 1px solid #FD9222;
    background: #FFF;
}

.information-article-color-black {
    background: #1E1823;
}

.information-name {
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
text-transform: uppercase;
}

.color-white {
    color: #FFF;
}

.color-black {
    color: #111;
}

.how-made-section {
    padding-bottom: 128px;
}

.how-made-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.how-made-title {
    color: #111;
text-align: center;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 28px; /* 116.667% */
letter-spacing: -0.72px;
text-transform: uppercase;
}

.how-made-title-color {
    color: #FD9222;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 28px;
letter-spacing: -0.72px;
text-transform: uppercase;
}

.how-made-perevie {
    width: 600px;
height: 400px;
flex-shrink: 0;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>), lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
}

.how-made-headline {
    color: #111;
font-family: 'Montserrat';
font-size: 18px;
font-style: normal;
font-weight: 1000;
line-height: 24px; /* 133.333% */
width: 350px;
}

.how-made-box-text-img {
    display: flex;
}

.how-made-box-text {
    margin-left: 52px;
}

.how-made-play-button {
    position: absolute;
padding-left: 278px;
padding-top: 178px;
}

.how-made-item {
    list-style: url(./img/disc.png);
}

.how-made-text {
    color: #111;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}

.how-made-text-wight-n-1 {
    width: 436px;
}

.how-made-text-wight-n-2 {
    width: 409px;
}

.how-made-text-wight-n-3 {
    width: 404px;
}

.our-products-section {
    padding-bottom: 128px;
}

.our-products-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.our-products-title {
    color: #111;
text-align: center;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 116.667% */
letter-spacing: -0.72px;
text-transform: uppercase;
}

.our-products-title-color {
    color: #FD9222;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.72px;
text-transform: uppercase;
}

.our-products-list {
    display: flex;
    justify-content: space-between;
}

.our-products-article {
    width: 270px;
height: 364px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;
justify-content: center;
}

.our-products-img {
    width: 230px;
height: 201px;
flex-shrink: 0;
padding-top: 32px;
padding-left: 20px;
padding-right: 20px;
}

.our-products-name {
    color: #111;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
text-transform: uppercase;
text-align: center;
margin-bottom: 2px;

}

.our-products-discribtion {
    color: rgba(17, 17, 17, 0.70);
font-family: 'Montserrat';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
letter-spacing: -0.24px;
text-align: center;
margin-bottom: 18px;
}

.our-products-button {
    display: flex;
padding: 8px 20px;
align-items: flex-start;
gap: 14px;
border-radius: 100px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FAFAFA;
color: #111;
font-family: 'Montserrat';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}

.top-sellers-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.top-sellers-title-color {
    color: #FD9222;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.top-sellers-title {
    color: #111;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.72px;
text-transform: uppercase;
}